@import "variables";

.ember-notify-cn {
  position: absolute;
  right: 10px;
  bottom: -5px;
  width: 360px;
}

.alert {
  padding: $notification-padding !important;
  border-radius: $notification-border-radius !important;
}
